@mixin glass-card {
  // padding: 32px;
  // border: 2px solid var(--card-border);
  // border-radius: 32px;
  background: var(--card-bg);
  box-shadow: var(--card-shadow);
  backdrop-filter: blur(2px) saturate(130%);
}
