
.header {
  width: 100%;
  padding: 20px;
  background: var(--header-bg);
  color: var(--text-primary);

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 20px;

    &.is-open {
      opacity: 1;
      background: var(--header-menu-bg);
    }
  }
}
