.outWrap {
  padding: 3rem;
  max-width: 1080px;
  margin: auto auto;
  position: relative;
  z-index: 1;

}

.switchBox {
  text-align: right;
  text-transform: uppercase;

  .switch-btn {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;

    column-gap: 1em;

    padding: 8px 16px;


    border: 1px solid var(--border);

    border-radius: 20px;
    margin-bottom: 24px;

    .light,
    .dark {
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: 700;
      color: var(--text-muted);
  
      transition: color 0.2s ease,
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    .switch input {
      display: none;
    }

    .slider {
      position: absolute;
      inset: 0;
      background: var(--switch-track);
      border-radius: 999px;
      cursor: pointer;
      transition: .3s;
    }

    .slider::before {
      content: "";
      position: absolute;
      width: 26px;
      height: 26px;
      left: 4px;
      top: 4px;
      background: var(--switch-thumb);
      border-radius: 50%;
      transition: .3s;
    }

    input:checked+.slider {
      background: var(--switch-track-active);
    }

    input:checked+.slider::before {
      background: var(--switch-thumb-active);
      transform: translateX(26px);
    }
  }
}

[data-theme="light"] .switch-btn .light,
[data-theme="dark"] .switch-btn .dark {
  color: var(--text-primary);
  // font-weight: 900;
}


/* main -start */
.main {
  // padding: 4rem;
  max-width: 1080px;
  height: 100%;
  margin: auto auto;

  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(440px, 1fr));
  gap: 2rem;

}

.person-Intro,
.aboutMe,
.work {
  background: var(--card-bg);
  border: 1px solid var(--card-border);
  padding: 32px;
  border-radius: 32px;
  box-shadow: 0 18px 54px var(--shadow);
  // -webkit-backdrop-filter: blur(6px) saturate(130%);
  backdrop-filter: blur(4px) saturate(130%);
}

.person-Intro {
  grid-column: 1 / 3;
  position: relative;
  overflow: hidden;

  .Intro-header {
    .intro-profile {
      display: flex;
      // justify-content: center;
      align-items: center;
      gap: 1rem;

      .img {
        width: 80px;
        border-radius: 20px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  // &:hover {
  //   .intro-back {
  //     display: block;
  //   }
  // }
}

.aboutMe {
  grid-column: 3 / 5;
}

.work {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
}

/* main - end */